@import 'variables';
.h1-custom {
    font-family: 'Placard', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: $c_text;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
@media (max-width: 1580px) {
    .h1-custom {
        font-size: 3.4rem;
    }
}
@media (max-width: 1145px) {
    .h1-custom {
        font-size: 3rem;
    }
}
@media (max-width: 1000px) {
    .h1-custom {
        font-size: 2rem;
    }
}
.h2-custom {
    font-family: 'Placard', sans-serif;
    font-weight: bold;
    color: $c_text;
}
div.ratio.ratio-16x9.h-100.rounded-5 {
    background-color: $bg_color_nav-item;
}
.pj-overlay {
    position: absolute;
    bottom: -52px;
    left: -100px;
    z-index: 10;
}
/*Globo de texto generado en https://www.html-code-generator.com/css/speech-bubble-generator*/
.bubble {
    position: relative;
    background: #f29e0c;
    color: $c_text2;
    font-family: Arial;
    font-size: 20px;
    line-height: 102px;
    filter: drop-shadow(5px 6px 0px #000000);
    text-align: center;
    width: 285px;
    height: 99px;
    border-radius: 10px;
    padding: 0px;
    top: 170px;
    left: 70px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #f29e0c transparent;
    border-width: 25px 19px 0;
    bottom: -25px;
    left: 81%;
    margin-left: -19px;
}