@import 'variables';
.h1-custom {
    font-size: 5rem;
    font-weight: 700;
    color: $c_text;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.h2-custom {
    color: $c_text;
}